Repository ChoaibMouhrach/eco: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

setup seeders
  apps/client/src/features/apis/api.ts
  apps/server/ash.ts
  apps/server/package.json
  apps/server/src/database/seeders/user.seeder.ts
  apps/server/tsconfig.json
  docs/endpoints/categoryApi.md
  docs/endpoints/userApi.md
  packages/ash/package.json
  packages/ash/src/Core/Ash.ts
  packages/ash/src/Core/Commands/Maker.command.ts
  packages/ash/src/Core/Commands/Seeder.command.ts
  packages/ash/src/Core/Commands/index.ts
  packages/ash/src/Core/Exceptions/Ash.exception.ts
  packages/ash/src/Core/Exceptions/CommandNotFound.exception.ts
  packages/ash/src/Core/Exceptions/Seeder.exception.ts
  packages/ash/src/Core/Exceptions/index.ts
  packages/ash/src/index.ts
  packages/ash/src/interfaces.d.ts
  packages/ash/src/interfaces.public.d.ts
  packages/ash/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

adding user and product factories and seeders
  apps/client/src/components/DropDown/index.tsx
  apps/client/src/features/apis/authApi.ts
  apps/server/package.json
  apps/server/src/database/factories/product.factory.ts
  apps/server/src/database/factories/user.factory.ts
  apps/server/src/database/seeders/product.seeder.ts
  apps/server/src/database/seeders/user.seeder.ts
  apps/server/src/interfaces/Product.d.ts
  apps/server/src/interfaces/User.ts
  apps/server/src/models/Product.ts
  packages/ash/src/Core/Commands/Seeder.command.ts
  packages/ash/src/Core/packages/Seeder.package.ts
  packages/ash/src/Core/packages/index.ts
  packages/ash/src/index.ts
  packages/ash/src/interfaces.public.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

adding logger + category seeder
  apps/server/ash.ts
  apps/server/src/database/factories/category.factory.ts
  apps/server/src/database/factories/product.factory.ts
  apps/server/src/database/factories/user.factory.ts
  apps/server/src/database/seeders/category.seeder.ts
  apps/server/src/database/seeders/product.seeder.ts
  apps/server/src/database/seeders/user.seeder.ts
  apps/server/src/interfaces/Category.d.ts
  apps/server/src/interfaces/Product.d.ts
  apps/server/src/interfaces/User.ts
  apps/server/src/models/Product.ts
  apps/server/tsconfig.json
  docs/endpoints/categoryApi.md
  docs/endpoints/userApi.md
  packages/ash/package.json
  packages/ash/src/Core/Ash.ts
  packages/ash/src/Core/Commands/Maker.command.ts
  packages/ash/src/Core/Commands/Seeder.command.ts
  packages/ash/src/Core/Commands/index.ts
  packages/ash/src/Core/Exceptions/Ash.exception.ts
  packages/ash/src/Core/Exceptions/CommandNotFound.exception.ts
  packages/ash/src/Core/Exceptions/Seeder.exception.ts
  packages/ash/src/Core/Exceptions/index.ts
  packages/ash/src/Core/Logger.ts
  packages/ash/src/Core/packages/Command.package.ts
  packages/ash/src/Core/packages/Seeder.package.ts
  packages/ash/src/Core/packages/index.ts
  packages/ash/src/index.ts
  packages/ash/src/interfaces.d.ts
  packages/ash/src/interfaces.public.d.ts
  packages/ash/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fixing the issue
  packages/ash/src/stubs/controller.stub
Due: none

adding start command
  apps/client/src/features/apis/api.ts
  apps/client/src/lib/api/request.ts
  package.json
  turbo.json
Due: prettier --write, eslint --fix

adding the new domain name for the backend
  apps/client/src/features/apis/api.ts
  apps/client/src/lib/api/request.ts
Due: prettier --write, eslint --fix

docker production setup
  .dockerignore
  Dockerfile
  apps/server/.env.prod
  apps/server/package.json
  apps/server/src/server.ts
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

add test command
  apps/server/__test__/config/test-data.ts
  apps/server/__test__/integration/test.test.ts
  package.json
  turbo.json
Due: prettier --write, eslint --fix

auth
  apps/server/.env.example
  apps/server/.env.prod
  apps/server/package.json
  apps/server/prisma/migrations/20230609212816_init/migration.sql
  apps/server/prisma/migrations/20230609232016_add_unique_contraint_to_refreshtoke_token_field/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/app.ts
  apps/server/src/config/config.ts
  apps/server/src/config/db.ts
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/controllers/index.ts
  apps/server/src/exceptions/BadRequest.exception.ts
  apps/server/src/exceptions/NotFound.exception.ts
  apps/server/src/exceptions/Unauthorized.exception.ts
  apps/server/src/exceptions/http.exception.ts
  apps/server/src/exceptions/index.ts
  apps/server/src/index.d.ts
  apps/server/src/lib/index.ts
  apps/server/src/lib/mailer.lib.ts
  apps/server/src/middlewares/errorHandler.middleware.ts
  apps/server/src/middlewares/index.ts
  apps/server/src/middlewares/validator.middleware.ts
  apps/server/src/requests/index.ts
  apps/server/src/requests/sign-in.request.ts
  apps/server/src/requests/sign-up.request.ts
  apps/server/src/routes/auth.route.ts
  apps/server/src/routes/index.ts
  apps/server/src/server.ts
Due: prettier --write, eslint --fix

code refactor
  apps/server/src/app.ts
  apps/server/src/requests/sign-in.request.ts
  apps/server/src/requests/sign-up.request.ts
Due: prettier --write, eslint --fix

auth test
  apps/server/__test__/config/test-data.ts
  apps/server/__test__/integration/auth.test.ts
  apps/server/__test__/integration/test.test.ts
  apps/server/prisma/migrations/20230607152935_create_user_model/migration.sql
  apps/server/prisma/migrations/20230609232016_add_unique_contraint_to_refreshtoke_token_field/migration.sql
  apps/server/prisma/migrations/20230611174139_init/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/app.ts
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/exceptions/Unauthorized.exception.ts
  apps/server/src/exceptions/http.exception.ts
  apps/server/src/lib/index.ts
  apps/server/src/lib/mailer.lib.ts
  apps/server/src/requests/sign-in.request.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix linting
  apps/server/__test__/integration/auth.test.ts
Due: prettier --write, eslint --fix

adding docker tests
  .husky/pre-push
  docker-compose.test.yaml
Due: none

fixing docker-composer in testing env
  docker-compose.test.yaml
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

fixing docker prod and test envs
  apps/server/package.json
  docker-compose.prod.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  package.json
  turbo.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: apps/**/*.{json,css,scss,md}) or (any of: apps/**/*.{js,jsx,ts,tsx})
  eslint --fix: any of: apps/**/*.{js,jsx,ts,tsx}
