Repository ChoaibMouhrach/eco: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "apps/**/*.{json,css,scss,md}": ["prettier --write"],
  "apps/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

fixing seeding in docker
  apps/server/package.json
  apps/server/prisma/seed.ts
Due: prettier --write, eslint --fix

fixing docker testing
  apps/server/package.json
  apps/server/prisma/migrations/20230611174139_init/migration.sql
  docker-compose.test.yaml
  package.json
  turbo.json
Due: prettier --write

V docker fixed
  .dockerignore
  .husky/pre-push
  apps/server/.env.prod
  apps/server/package.json
  apps/server/prisma/migrations/20230611231403_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/seed.ts
  docker-compose.prod.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  package.json
  turbo.json
Due: prettier --write, eslint --fix

remove pre-push
  .husky/pre-commit
  .husky/pre-push
Due: none

init
  test.ts
Due: none

test
  docker-compose.yaml
Due: none

changing version
  docker-compose.yaml
Due: none

change version to 1
  docker-compose.yaml
Due: none

change version to 1.0
  docker-compose.yaml
Due: none

change version to 1.1
  docker-compose.yaml
Due: none

change version to 1.1 in test docker-compse
  docker-compose.test.yaml
Due: none

change version to 1.2 in test docker-compse
  docker-compose.test.yaml
  docker-compose.yaml
Due: none

fixing tests
  apps/server/.env.test
  docker-compose.test.yaml
Due: none

fixing tests
  apps/server/.env.test
Due: none

refresh, delete profile, update profile, get profile
  apps/server/src/app.ts
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/index.d.ts
  apps/server/src/middlewares/auth-access.middleware.ts
  apps/server/src/middlewares/auth-refresh.middleware.ts
  apps/server/src/middlewares/index.ts
  apps/server/src/repositories/auth.repository.ts
  apps/server/src/repositories/index.ts
  apps/server/src/repositories/user.repository.ts
  apps/server/src/requests/index.ts
  apps/server/src/requests/sign-up.request.ts
  apps/server/src/requests/update-profile.request.ts
  apps/server/src/routes/auth.route.ts
Due: prettier --write, eslint --fix

fixing test
  apps/server/__test__/integration/auth.test.ts
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/middlewares/auth-refresh.middleware.ts
  apps/server/src/requests/update-profile.request.ts
Due: prettier --write, eslint --fix

read for tags categories units products users purchases orders
  apps/server/__test__/integration/auth.test.ts
  apps/server/package.json
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.testing.ts
  apps/server/src/controllers/category.controller.ts
  apps/server/src/controllers/index.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/controllers/product.controller.ts
  apps/server/src/controllers/purchase.controller.ts
  apps/server/src/controllers/tag.controller.ts
  apps/server/src/controllers/unit.controller.ts
  apps/server/src/controllers/user.controller.ts
  apps/server/src/index.d.ts
  apps/server/src/lib/query-validator.lib.ts
  apps/server/src/middlewares/validator.middleware.ts
  apps/server/src/routes/category.route.ts
  apps/server/src/routes/index.ts
  apps/server/src/routes/order.route.ts
  apps/server/src/routes/product.route.ts
  apps/server/src/routes/purchase.router.ts
  apps/server/src/routes/tag.route.ts
  apps/server/src/routes/unit.route.ts
  apps/server/src/routes/user.route.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

create update delete for categories
  .husky/pre-commit
  apps/server/prisma/migrations/20230614155649_uniqe_category_name/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/constants.ts
  apps/server/src/controllers/category.controller.ts
  apps/server/src/index.d.ts
  apps/server/src/middlewares/validator.middleware.ts
  apps/server/src/requests/delete-category.request.ts
  apps/server/src/requests/index.ts
  apps/server/src/requests/sign-in.request.ts
  apps/server/src/requests/sign-up.request.ts
  apps/server/src/requests/store-category.request.ts
  apps/server/src/requests/update-category.request.ts
  apps/server/src/requests/update-profile.request.ts
  apps/server/src/routes/category.route.ts
Due: prettier --write, eslint --fix

tests for create update delete category
  apps/server/__test__/config/request.ts
  apps/server/__test__/config/test-data.ts
  apps/server/__test__/integration/auth.test.ts
  apps/server/__test__/integration/category.test.ts
  apps/server/src/app.ts
  apps/server/src/constants.ts
  apps/server/src/controllers/category.controller.ts
  apps/server/src/requests/delete-category.request.ts
  apps/server/src/requests/index.ts
  apps/server/src/requests/sign-up.request.ts
  apps/server/src/requests/store-category.request.ts
  apps/server/src/requests/update-category.request.ts
  apps/server/src/requests/update-profile.request.ts
  apps/server/src/routes/category.route.ts
Due: prettier --write, eslint --fix
